/* reset */

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* intestazione */

header {
    background-color:#255ee9;
    padding-top: 17px;
    padding-bottom: 17px;
}


/* menu navigazione */

.fcontainer {
    width: 1100px;
    margin: 0 auto;
    display: flex;
}

.menu {
    display: flex;
    list-style: none;
    justify-content: space-around;
    color: #ffffff;
    align-items: center;
    flex-grow: 2;
    font-size: 18px;
}

.nav-item-logo {
    flex-grow: 1;
    padding: 10px;
}

.nav-item-login {
    flex-grow: 1;
    padding: 10px;
    text-align: end;
}

.buttonsmall {
    background-color: #ffffff;
    padding: 10px 15px;
    border-radius: 20px;
}


header .fcontainer {
    background-color: #255ee9;
}

/* main */

.bg-blue {
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.row {
    text-align: center;
    padding-top: 100px;
}

h1 {
    text-align: center;
   padding-bottom: 20px;
   font-size: 50px;
   color: #ffffff;
}

.pfirst {
    display: flex;
    text-align: center;
    color: #ffffff;
    padding-left: 55px;
    padding-right: 55px;
    font-size: 25px;
    line-height: 150%;
    }
    

.bottonemac {
    margin-top: 50px;
    margin-right: 20px;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 20px;
}

.bottonediscord {
    margin-top: 50px;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 20px;
    background-color: #23272a;
    color: #ffffff;
}



.bg-white {
    background-color: #ffffff;
}

.bg-gray {
    background-color: #d3d3d3;
}


.container {
    width: 1100px;
    margin: 0 auto;
}

main > section {
    padding-top: 30px;
    padding-bottom: 30px;
}

/* Sezioni main */

.bg-blue > .container {
    width: 980px;
}


.rowbig {
    display: flex;
    width: 800px;
    padding-bottom: 50px;
}

.rowsmall {
    text-align: inherit;
    width: 250px;
    
}

h2 {
    font-size: 30px;
   padding-bottom: 20px;
   padding-top: 50px;
}

.hsecond {
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
}

.psecond {
    text-align: center;
    padding-left: 140px;
    padding-right: 140px;
}

.item4 {
    padding-left: 130px;
    
}



.stars {
    background-size: contain;
    align-items: center;
    padding-bottom: 50px;
}
 
.bottonemactwo {
    margin-top: 50px;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 20px;
    background-color: #7288da;
    color: #ffffff;
}

    

.bg-gray .rowsmall {
    order: -1;
}

/* bigrow */

.row2 {
    text-align: center;
    width: 1100px;
}

/* Footer */

/* prima parte footer */


.first {
    height: 580px;
    width: 400px;
    padding-top: 65px;
 }

h3 {
    color: #7288da;
}

.second {
    height: 580px;
    width: 800px;
    display: flex;
    padding-top: 50px;
}

.column {
    flex-direction: column;
    width: 200px;
}

li {
    list-style-type: none;
    line-height: 300%;
    color: #ffffff;
}

strong {
    color: #7288da;
}
.icon {
    padding-top: 10px;
    letter-spacing: 5px;
    color: #ffffff;
}

.ita {
    padding-top: 10px;
    color: #ffffff;
}

span {
    color: #ffffff;
}

/* seconda parte footer */

.bg-darkgray {
    background-color: #23272a;
}

.bg-darkgray  .fcontainer {
    padding-top: 10px;
    padding-bottom: 30px;
}

.registrati {
    border-radius: 20px;
    padding: 10px 15px;
    background-color:  #7288da;
    color: #ffffff;

}

.container2 .footer {
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
    border-top: 2px solid #7288da;
}

.container2 {
    padding-top: 20px;
}
