/* reset */

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* intestazione */

header {
    background-color:#255ee9;
    padding-top: 17px;
    padding-bottom: 17px;
}


/* menu navigazione */

.fcontainer {
    width: 1100px;
    margin: 0 auto;
    display: flex;
}

.menu {
    display: flex;
    list-style: none;
    justify-content: space-around;
    color: #ffffff;
    align-items: center;
    flex-grow: 2;
    font-size: 18px;
}

.nav-item-logo {
    flex-grow: 1;
    padding: 10px;
}

.nav-item-login {
    flex-grow: 1;
    padding: 10px;
    text-align: end;
}

.buttonsmall {
    background-color: #ffffff;
    padding: 10px 15px;
    border-radius: 20px;
}


header .fcontainer {
    background-color: #255ee9;
}

/* main */

.bg-blue {
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.row {
    text-align: center;
    padding-top: 100px;
}

h1 {
    text-align: center;
   padding-bottom: 20px;
   font-size: 50px;
   color: #ffffff;
}

.pfirst {
    display: flex;
    text-align: center;
    color: #ffffff;
    padding-left: 55px;
    padding-right: 55px;
    font-size: 25px;
    line-height: 150%;
    }
    

.bottonemac {
    margin-top: 50px;
    margin-right: 20px;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 20px;
}

.bottonediscord {
    margin-top: 50px;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 20px;
    background-color: #23272a;
    color: #ffffff;
}



.bg-white {
    background-color: #ffffff;
}

.bg-gray {
    background-color: #d3d3d3;
}


.container {
    width: 1100px;
    margin: 0 auto;
}

main > section {
    padding-top: 30px;
    padding-bottom: 30px;
}

/* DA RIMUOVERE */

 .debug .row {
    height: 500px;
}

/* Sezioni main */

.bg-blue > .container {
    width: 980px;
}


.rowbig {
    display: flex;
    width: 700px;
    padding-bottom: 50px;
}

.rowsmall {
    text-align:initial;
    width: 250px;
}

h2 {
    font-size: 30px;
    padding-bottom: 20px;
}



.bg-gray .rowsmall {
    order: -1;
}

/* bigrow */

.row2 {
    height: 900px;
    width: 1100px;
    background-color: #228b22;
    border: 2px dashed #000000;
}

/* Footer */

/* prima parte footer */


.first {
    height: 580px;
    width: 300px;
    background-color: #f08080;
    border: 2px dashed #000000;
}

.second {
    height: 580px;
    width: 800px;
    background-color: #20b2aa;
    display: flex;
}

.column {
    flex-direction: column;
    width: 200px;
    border: 2px dashed #ffffff;
}

/* seconda parte footer */

.bg-darkgray {
    background-color: #23272a;
}

.bg-darkgray  .fcontainer {
    padding-top: 10px;
    padding-bottom: 30px;
}

hr {
    color: #9a9a9a;
}

/* button {
    background-color: #ffb6c1;
    padding: 5px;
    /* border: 2px dashed #000000; 
} */

.container2 .footer {
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
    background-color: #7fffd4;
}

.container2 {
    padding-top: 20px;
}
